*
!*/
!.gitignore
!config/
!config/ftbquests/
!config/ftbquests/**
!config/ftbquests/quests/
!config/ftbquests/quests/**
!config/emendatusenigmatica/material/
!config/emendatusenigmatica/material/**
!/kubejs/assets/
!/kubejs/assets/**
!/kubejs/client_scripts/
!/kubejs/client_scripts/**
!/kubejs/data/
!/kubejs/data/**
!/kubejs/server_scripts/
!/kubejs/server_scripts/**
!/kubejs/
!/kubejs/data/
!/kubejs/data/
!/kubejs/server_scripts/general/
!/kubejs/server_scripts/general/**/*
!/kubejs/startup_scripts/
!/kubejs/startup_scripts/**
!/resources/
!/resources/**
!/schematics/
!/schematics/**
*.txt
